<div id="<%= dom_id parking %>">
  <p>
    <strong>Vehicle:</strong>
    <%= parking.vehicle_id %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= parking.vehicle_type_id %>
  </p>

  <p>
    <strong>Parking lot:</strong>
    <%= parking.parking_lot_id %>
  </p>

</div>
