<h1>Editing parking</h1>

<%= render "form", admin_parking: @admin_parking %>

<br>

<div>
  <%= link_to "Show this parking", @admin_parking %> |
  <%= link_to "Back to parkings", admin_parkings_path %>
</div>
