<h1>Editing parking lot</h1>

<%= render "form", admin_parking_lot: @admin_parking_lot %>

<br>

<div>
  <%= link_to "Show this parking lot", @admin_parking_lot %> |
  <%= link_to "Back to parking lots", admin_parking_lots_path %>
</div>
