<div id="<%= dom_id vehicle_type %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle_type.name %>
  </p>

  <p>
    <strong>Required space:</strong>
    <%= vehicle_type.required_space %>
  </p>

</div>
