<h1>Editing vehicle type</h1>

<%= render "form", admin_vehicle_type: @admin_vehicle_type %>

<br>

<div>
  <%= link_to "Show this vehicle type", @admin_vehicle_type %> |
  <%= link_to "Back to vehicle types", admin_vehicle_types_path %>
</div>
