<div class="container">
  <h1>New vehicle type</h1>

  <%= render "form", admin_vehicle_type: @admin_vehicle_type %>

  <br>

  <div>
    <%= link_to "Back to vehicle types", admin_vehicle_types_path, class: "btn btn-secondary" %>
  </div>
</div>

